{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="script" href="{% static 'bootstrap/bootstrap.js' %}">
    <title>웰킵스 마스크 메일링 서비스</title>
</head>
<body>

<div class="main">
    <div class="row bg-dark w-100 h-100 position-absolute" style="background-color:black;">
        <image class="position-absolute h-100"
               src="https://images.unsplash.com/photo-1580094687196-cbc2bdab67e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
               style="right:0px;"></image>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="main-content text-white py-5 py-md-0">
                    <h1 class="mb-3">웰킵스 마스크 메일링 서비스 로그인</h1>
                    <p class="mb-5">매일 판매하고 있는 웰킵스 마스크 사이트에서
                        <strong>마스크가 구매가능할 때</strong> 메일로 알림을 드려요.</p>
                    <form method="POST" class="w-50">
                        {% csrf_token %}
                        <input type="email" class="form-control mb-1" placeholder="이메일을 입력하세요." name="username">
                        <input type="password" class="form-control mb-2" placeholder="비밀번호를 입력하세요." name="password">
                        {% if messages %}
                        {% for message in messages %}
                        <p class="text-warning">{{ message.message }}</p>
                        {% endfor %}
                        {% endif %}
                        <button class="btn btn-warning" type="submit">로그인하기</button>
                    </form>
                    <div>
                        메일링 서비스를 가입하고 싶으신가요?
                        <a href="{% url 'index' %}" class="btn btn-outline-light" role="button"
                           aria-pressed="true">가입하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>