{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="script" href="{% static 'bootstrap/bootstrap.js' %}">
    <title>웰킵스 마스크 메일링 서비스</title>
</head>
<body>

<div class="main">
    <div class="row bg-dark w-100 h-100 position-absolute" style="background-color:black;">
        <image class="position-absolute h-100"
               src="https://images.unsplash.com/photo-1580094687196-cbc2bdab67e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
               style="right:0px;"></image>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="main-content text-white py-5 py-md-0">
                    <h1 class="mb-3">User Setting</h1>
                    <p style="font-size:1.3rem;">안녕하세요, <strong>{{ request.user }}</strong>님</p>
                    <p>현재 회원님께서는 웰킵스 이메일
                        {% if request.user.authorization %}<strong class="text-primary"> 수신동의 </strong> 상태입니다. <\n>
                        구매 가능한 시점에 회원님의 이메일로 자동 발송됩니다.
                        {% else %} <strong class="text-warning"> 수신미동의 </strong> 상태입니다.<br>
                        하단 <i>'수신 상태 변경하기'</i> 버튼을 클릭해 수신동의 상태로 변경하시면 <br>
                        구매 가능한 시점을 이메일로 받아보실 수 있습니다.
                        {% endif %}
                    </p>

                    <button class="btn btn-primary" type="submit">수신 상태 변경하기</button>
                    <button class="btn btn-secondary" type="submit">로그아웃</button>
                    <button class="btn btn-outline-secondary" type="submit">회원탈퇴하기</button>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>