{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <!--    <link rel="script" href="{% static 'bootstrap/bootstrap.js' %}">-->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <title>웰킵스 마스크 메일링 서비스</title>
</head>
<body>

<div class="main">
    <div class="row bg-dark w-100 h-100 position-absolute" style="background-color:black;">
        <image class="position-absolute h-100"
               src="https://images.unsplash.com/photo-1580094687196-cbc2bdab67e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
               style="right:0px;"></image>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="main-content text-white py-5 py-md-0">
                    <h1 class="mb-3">User Setting</h1>
                    <p style="font-size:1.3rem;">안녕하세요, <strong>{{ request.user }}</strong>님</p>
                    <p>현재 회원님께서는 웰킵스 이메일
                        {% if request.user.send_email %}<strong class="text-success"> 수신동의 </strong> 상태입니다. <br>
                        구매 가능한 시점에 회원님의 이메일로 자동 발송됩니다.
                        {% else %} <strong class="text-warning"> 수신미동의 </strong> 상태입니다.<br>
                        하단 <i>'수신 상태 변경하기'</i> 버튼을 클릭해 수신동의 상태로 변경하시면 <br>
                        구매 가능한 시점을 이메일로 받아보실 수 있습니다.
                        {% endif %}
                    </p>

                    <a href="{% url 'members:send-email' %}" class="btn btn-primary" type="button">수신 상태 변경하기</a>
                    <a href="{% url 'members:logout'%}" class="btn btn-secondary" type="button">로그아웃</a>
                    <a href="{% url 'members:withdrawal' %}" class="btn btn-outline-secondary" type="button">회원탈퇴하기</a>
                    <!--                    <button class="btn btn-outline-secondary" type="button"-->
                    <!--                            data-toggle="modal" data-target="#myModal">회원탈퇴하기-->
                    <!--                    </button>-->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- 팝업 -->

<!--<div class="container">-->
<!--    <div class="modal fade" id="myModal" role="dialog">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">정말 회원을 탈퇴하시겠습니까?</h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <p>탈퇴를 원하시면 하단 <strong>탈퇴</strong> 버튼을 클릭해주세요.</p>-->
<!--                    <p>원치 않으시면 <strong>취소</strong> 버튼을 클릭하세요.</p>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <form method="POST">-->
<!--                        <button class="btn btn-danger"-->
<!--                           data-target="{% url 'members:withdrawal' %}" data-dismiss="modal">탈퇴</button>-->
<!--                    </form>-->
<!--                    <button type="button" class="btn btn-info" data-dismiss="modal">취소</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>